<VirtualHost *:80>
    ServerName {{ domain }}
    ServerAlias www.{{ domain }}
    ServerSignature Off
    TraceEnable Off

    Alias /static {{ static_dir }}
    <Directory {{ static_dir }}>
        Options FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    Alias /media {{ media_dir }}
    <Directory {{ media_dir }}>
        Options FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    ProxyPreserveHost On
    ProxyTimeout 120
    ProxyPass /static !
    ProxyPass /media !
    ProxyPass / unix:{{ socket }}|http://localhost/
    ProxyPassReverse / unix:{{ socket }}|http://localhost/

    Header always set X-Content-Type-Options "nosniff"
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set Referrer-Policy "strict-origin-when-cross-origin"
    Header always set Permissions-Policy "geolocation=(), microphone=(), camera=()"

    ErrorLog ${APACHE_LOG_DIR}/{{ project }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ project }}_access.log combined
</VirtualHost>
