[Unit]
Description=Gunicorn {{ project }}
After=network.target

[Service]
User={{ user }}
Group={{ group }}
WorkingDirectory={{ app_dir }}
Environment=PYTHONUNBUFFERED=1
{% if env_file %}EnvironmentFile=-{{ env_file }}
{% endif %}ExecStart={{ venv }}/bin/gunicorn --workers {{ workers }} --bind unix:{{ socket }} {{ wsgi }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
